[settings]
target = jules
exec-name = jules.exe
skip-files-list = jules.skip
unreferenced-dependencies = sunny,solpos,solang,redis,init_time,init_irrigation,init_urban,init_fire,init_drive,init_imogen,init_prescribed_data,init_vars_tmp,imogen_check,imogen_update_clim,control,imogen_update_carb,next_time,sow,emerge,develop,partition,radf_co2,radf_non_co2,adf_ch4gcm_anlg,drdat,clim_calc,diffcarb_land_co2,ocean_co2,diffcarb_land_ch4,diff_atmos_ch4,day_calc,response,radf_ch4,gcm_anlg,delta_temp,rndm,invert,vgrav,conversions_mod,water_constants_mod,planet_constants_mod,veg_param_mod,flake_interface

include-paths =

[flags]
fpp-flags = -DMPI_DUMMY -DNCDF_DUMMY
fc-flags =
ld-flags = -lm
