[settings]
target = jules
exec-name = jules.exe
skip-files-list = jules.skip
unreferenced-dependencies = sunny,solpos,solang,redis,init_time,init_irrigation,init_urban,init_fire,init_drive,init_imogen,init_prescribed_data,init_vars_tmp,imogen_check,imogen_update_clim,control,imogen_update_carb,next_time

[flags]
fpp-flags = -DMPI_DUMMY -DNCDF_DUMMY
fc-flags =
ld-flags = -lm
