module util_mod

  use iso_c_binding, only : c_int, c_int8_t, c_loc, c_ptr

  implicit none

  private
  public :: hash

  interface
    function eor_hash(block, length) bind(c, name='eor_hash')
      import c_int, c_int8_t, c_ptr
      implicit none
      integer(c_int8_t) eor_hash
      type(c_ptr),    intent(in)        :: block
      integer(c_int), intent(in), value :: length
    end function eor_hash
  end interface

contains

  function hash(block)
    implicit none
    real, pointer :: block(:)
    integer :: hash
    hash = eor_hash(c_loc(block), size(block, 1))
  end function hash

end module util_mod
