[scheduling]
    [[dependencies]]
        graph = """
            grab_gcom => build_gcom_ar
            grab_gcom => build_gcom_so
        """

[runtime]

    [[root]]
        env-script = """
            module use /data/users/lfric/modules/modulefiles.rhel7
            module load environment/lfric/gnu
            conda init bash
            conda activate sci-fab
            PYTHONPATH=~/.conda/envs/sci-fab/lib/python3.7/site-packages:$PYTHONPATH
        """

    [[common]]
        [[[job]]]
            batch system = slurm
            execution time limit = PT10M
        [[[directives]]]
            --mem=500
#           --ntasks=4
            --cpus-per-task=4
            --export=NONE
        [[[environment]]]
            FAB_WORKSPACE=$SCRATCH/fab_workspace
            OMPI_FC=gfortran
            GCOM_REVISION={{ GCOM_REVISION }}

        [[grab_gcom]]
            inherit = common
            script = grab_gcom.py

        [[build_gcom_ar]]
            inherit = common
            script = build_gcom_ar.py

        [[build_gcom_so]]
            inherit = common
            script = build_gcom_so.py
