[scheduling]
    [[dependencies]]
        graph = """
            build_um
        """

[runtime]

    [[root]]
        env-script = """
            module use /data/users/lfric/modules/modulefiles.rhel7
            module load environment/lfric/gnu
            conda init bash
            conda activate sci-fab
            PYTHONPATH=~/.conda/envs/sci-fab/lib/python3.7/site-packages:$PYTHONPATH
        """
        
    [[common]]
        [[[job]]]
            batch system = slurm
            execution time limit = PT20M
        [[[directives]]]
            --mem=2000
#            --ntasks=16
            --cpus-per-task=16
            --export=NONE
        [[[environment]]]
            FAB_WORKSPACE=$SCRATCH/fab_workspace
            GCOM_BUILD=$SCRATCH/fab_workspace/gcom-object-archive-vn7.6/build_output
            OMPI_FC=gfortran
            UM_REVISION={{ UM_REVISION }}

    [[build_um]]
        inherit = common
        script = build_um.py
