[scheduling]
    [[dependencies]]
        graph = """
            build_um
        """

[runtime]

    [[common]]
        [[[job]]]
            batch system = slurm
            execution time limit = PT20M
        [[[directives]]]
            --mem=2000
#            --ntasks=16
            --cpus-per-task=16
            --export=NONE
        [[[environment]]]
            FAB_WORKSPACE=$SCRATCH/fab_workspace
            GCOM_BUILD=$SCRATCH/fab_workspace/gcom-object-archive-vn7.6/build_output
            OMPI_FC=gfortran

    [[build_um]]
        inherit = common
        script = run_py.sh build_um
